.ReactTags__tags {
    -webkit-appearance: none;
    background: #f6f8f9;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    color: #122b48;
    display: block;
    display: flex;
    flex-direction: row;
    font-family: 'AvenirNext-Regular', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: 6px;
    outline: none;
    padding: 9px;
    text-indent: 9px;
    width: 100%;
}
.ReactTags__tags:focus {
    background: #e9ecf0;
}
.ReactTags__selected {
    align-items: center;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.ReactTags__selected .ReactTags__tag {
    background-color: #e9ecf0;
    border-radius: 33px;
    color: #4d6480;
    display: inline-block;
    font-family: 'AvenirNext-Bold', Arial, Helvetica, sans-serif;
    font-size: 9px;
    height: 18px;
    letter-spacing: 0.75px;
    line-height: 18px;
    margin: 3px 0;
    margin-right: 3px;
    padding: 0 6px;
    text-align: center;
    text-transform: uppercase;
}
.ReactTags__selected .ReactTags__tag a {
    float: right;
    margin-left: 3px;
}
.ReactTags__tagInput {
    display: inline-block;
    flex: 1;
}
.ReactTags__tagInput::placeholder,
.ReactTags__tagInput::-webkit-input-placeholder,
.ReactTags__tagInput:-ms-input-placeholder {
    color: #98a4b3;
}

.ReactTags__tagInputField {
    background: none;
    border: none;
    float: left;
    outline: none;
    width: 100%;
}
.ReactTags__suggestions {
    color: #4d6480;
    float: left;
    font-family: 'AvenirNext-Bold', Arial, Helvetica, sans-serif;
    font-size: 9px;

    height: 18px;
    letter-spacing: 0.75px;
    text-align: left;
    text-transform: uppercase;
}
