.blog {
}

.blog header.title {
    color: #32325d;
    margin: auto;
    max-width: 500px;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 4em;
    text-align: center;
}

.blog h1 {
    font-size: 62px;
}

.blog main {
    margin: 5em 0 6em 0;
}

.post-feed {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

@media (min-width: 768px) {
    .post-feed > *:nth-child(6n + 1) {
        flex: 1 1 100%;
        flex-direction: row;
    }
    .post-feed > *:nth-child(6n + 1) .img-wrapper {
        flex: 1.9;
        height: auto;
    }
}

article.post-preview {
    box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
    display: flex;
    flex: 1 1 300px;
    flex-direction: column;
    margin: 0 20px 40px;
    min-height: 300px;
    overflow: hidden;
    padding: 0 !important;
    transition: all 0.5s ease;
}
article.post-preview:hover {
    box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
    transform: translate3D(0, -1px, 0);
    transition: all 0.3s ease;
}

.blog .img-wrapper {
    background: #c5d2d9 no-repeat 50%;
    position: relative;
}
.post-preview > .img-wrapper {
    height: 200px;
}
.blog .img-wrapper img {
    bottom: 0;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
article.post-preview > a:last-child {
    flex: 1;
}
.post-preview section {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 40px;
}
.post-preview .post-card-excerpt {
    color: #32325d;
}

.post-preview footer,
.blog-post footer,
.post-preview header {
    align-items: left;
    border: none;
    padding: 0;
    text-align: left;
}
.post-preview header {
    color: #32325d;
    height: auto;
}
.post-preview footer {
    margin-top: auto;
}
.post-preview h2 {
    margin-top: 0 !important;
}
.post-preview footer p {
    margin: 0;
}

button.subscribe-newsletter {
    margin-top: 1em;
}

.blog-post header.title {
    max-width: 600px;
}
.blog-post .img-wrapper {
    border-radius: 6px;
    height: 540px;
    margin: auto;
    max-width: 1140px;
    overflow: hidden;
}

.post-content {
    font-family: SourceSansPro-Regular;
    font-size: 2.2rem;
    line-height: 1.6em;
    margin: 0 auto;
    min-height: 230px;
    padding: 70px 0 0;
    position: relative;
}
.blog-post p,
.blog-post time,
.blog-post li,
.blog-post .author-link {
    color: #7e8186;
    font-size: 18px;
    line-height: 1.7;
    margin: 0 0 1.5em;
}
.blog-post .author-link {
    display: block;
}
.blog-post ul {
    list-style: disc;
    margin: -1.2em 0 1.5em;
}
.blog-post li {
    margin-bottom: 0;
}
.blog-post time {
    margin-bottom: 0;
}
.blog-post strong {
    margin-bottom: 0;
}
.blog-post a {
    color: rgb(37, 244, 210);
}
.post-content h2 {
    font-size: 3.6rem;
    font-weight: 300;
    line-height: 1.2em;
    margin: 1em 0 0.5em;
}
.post-content > p:first-child {
    font-size: 1.25em;
    line-height: 1.5em;
}
.blog-post main .container {
    max-width: 700px;
    position: relative;
    z-index: 3;
}

.blog-post main .post-content img {
    display: block;
    left: 50%;
    margin: 1.5em auto;
    margin-bottom: 3em;
    max-height: 600px;
    max-width: 1040px;
    max-width: 100vw;
    position: relative;
    top: 0;
    transform: translateX(-50%);
}
.blog-post .social-signup {
    margin-bottom: 5em;
    text-align: center;
}
.blog-post .social-signup > div {
    margin-top: 0 !important;
}
.blog-post .social-signup p {
    font-size: 1.2em;
}
.blog h3 {
    color: #32325d;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 0.2em;
}

.blog-post .signup {
    margin: 0 !important;
}

footer.newsletter-signup {
    margin-bottom: 50px;
    white-space: normal;
    z-index: 3;
}
footer.newsletter-signup .card {
    margin: auto;
    max-width: 700px;
    padding: 4em 1em;
    text-align: center;
    width: 95%;
}

.newsletter-signup form {
    display: flex;
}
.card > .newsletter-signup {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 400px;
}

.newsletter-signup button {
    height: 40px;
    margin-left: 10px;
    width: 120px;
}
.newsletter-signup .text-field {
    width: 100%;
}
.newsletter-signup .text-field > div:first-child {
    height: 37px !important;
}

.popup .blog {
    padding: 5em !important;
}
@media (max-width: 420px) {
    .popup .blog {
        padding: 1em !important;
    }
}
