.react-datepicker {
    background-color: transparent;
    border: none;
    color: inherit;
    display: block;
    font-family: SourceSansPro-SemiBold;
    font-size: 16px;
    width: 280px;
}

.react-datepicker__current-month {
    height: 38px;
}

.react-datepicker__day,
.react-datepicker__day-name {
    border: 2px solid transparent;
    color: white;
    line-height: 0px;
    margin: 0 !important;
    padding-bottom: 17px;
    padding-top: 17px;
    transition: all 0.1s;
    width: calc(99% / 7) !important;
}

.react-datepicker__header {
    background-color: transparent;
    border: none;
    font-family: SourceSansPro-Bold;
    margin: 4px;
}

.react-datepicker__current-month {
    color: white;
    font-size: 16px;
    height: 22px;
}

.react-datepicker__navigation {
    border-color: transparent !important;
    border-width: 8px;
    cursor: pointer;
    line-height: 29px;
    position: absolute;
    text-align: center;
    top: 11px;
    width: 0;
}

button.react-datepicker__navigation.react-datepicker__navigation--previous {
    border-right-color: white !important;
    left: 7px;
}
button.react-datepicker__navigation.react-datepicker__navigation--next {
    border-left-color: white !important;
    right: 7px;
}

.react-datepicker__day-name {
    color: white;
    margin: 10px;
    margin-bottom: 0px;
}

.react-datepicker__day--selected,
.react-datepicker__day:hover {
    background-color: white;
    color: inherit;
}

.calendar-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: inherit;
}

.react-datepicker__day--disabled:hover,
.react-datepicker__day--disabled {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
}

.dark .react-datepicker__current-month,
.dark .react-datepicker__day,
.dark .react-datepicker__day-name {
    color: #4a4a4a;
}

.dark button.react-datepicker__navigation.react-datepicker__navigation--next {
    border-left-color: #4a4a4a !important;
}

.dark button.react-datepicker__navigation.react-datepicker__navigation--previous {
    border-right-color: #4a4a4a !important;
}
.dark .react-datepicker__day--disabled:hover,
.dark .react-datepicker__day--disabled {
    background-color: transparent;
    color: lightgrey;
}
.dark .react-datepicker__day--selected,
.dark .react-datepicker__day:hover {
    background-color: rgb(37, 244, 210);
    color: white;
}

.react-datepicker__month-container {
    float: none;
}
.react-datepicker__header__dropdown {
    margin-top: 6px;
}
.react-datepicker__header__dropdown select {
    background: #f6f8f9;
    border: none;
    cursor: pointer;
    height: 30px;
    outline: none;
}
